<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%=employee.name %></div>
    <form class="ui form" action="/employees/<%= employee._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Name</label>
            <input type="text" name="employee[name]" value="<%= employee.name %>">
        </div>
        <h3 class="ui dividing header">Positions They Can Work</h3>
        <div class="inline field">
            <div class="ui checkbox">
                <input type="checkbox" name="employee[positions][bartender]" <%= employee.positions.bottle ? "checked" : "" %>>
                <label>Bottle</label>
            </div>
        </div>
        <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" name="employee[positions][bartender]" <%= employee.positions.bartender ? "checked" : "" %>>
                  <label>Bartender</label>
                </div>
        </div>
        <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" name="employee[positions][headBartender]" <%= employee.positions.headBartender ? "checked" : "" %>>
                  <label>Head Bartender</label>
                </div>
        </div>
        <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" name="employee[positions][opener]" <%= employee.positions.opener ? "checked" : "" %>>
                  <label>Opener</label>
                </div>
        </div>
        <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" name="employee[positions][door]" <%= employee.positions.door ? "checked" : "" %>>
                  <label>Door</label>
                </div>
        </div>
        <div class="inline field">
                <div class="ui checkbox">
                  <input type="checkbox" name="employee[positions][manager]" <%= employee.positions.manager ? "checked" : "" %>>
                  <label>Manager</label>
                </div>
        </div>
        <h3 class="ui dividing header">Availability</h3>
        <% let weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
        <% for(let day=0; day<weekdays.length; day++){ %>
        <div class="fields">
            <div class="field">
            <label><%=weekdays[day]%></label>

            <div class="inline fields">
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" value="0" name="employee[availability][<%=weekdays[day].toLowerCase()%>]" <%= (Number(employee.availability[weekdays[day].toLowerCase()][0])==0) ? "checked" : "" %>>
                    <label>Unavailable</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" value="1" name="employee[availability][<%=weekdays[day].toLowerCase()%>]" <%= (Number(employee.availability[weekdays[day].toLowerCase()][0])==1) ? "checked" : "" %>>
                    <label>Full Availability</label>
                </div>
            </div>
            </div>

            <div class="ui selection dropdown">
                <input type="hidden" name="employee[availability][<%=weekdays[day].toLowerCase()%>]">
                <i class="dropdown icon"></i>
                <div class="text">
                    <% let availDayFirst = Number(employee.availability[weekdays[day].toLowerCase()][0]); %>
                    <% if(availDayFirst <= 12 && availDayFirst > 1) { %>
                        <%= availDayFirst + ":00 AM" %>
                    <% } else if(availDayFirst > 12) { %>
                        <%= (availDayFirst-12) + ":00 PM" %>
                    <% } %>
                </div>
                <div class="menu">
                    <div class="item" data-value="9">9:00 AM</div>
                    <div class="item" data-value="10">10:00 AM</div>
                    <div class="item" data-value="11">11:00 AM</div>
                    <div class="item" data-value="12">12:00 PM</div>
                    <div class="item" data-value="13">1:00 PM</div>
                    <div class="item" data-value="14">2:00 PM</div>
                    <div class="item" data-value="15">3:00 PM</div>
                    <div class="item" data-value="16">4:00 PM</div>
                    <div class="item" data-value="17">5:00 PM</div>
                    <div class="item" data-value="18">6:00 PM</div>
                    <div class="item" data-value="19">7:00 PM</div>
                    <div class="item" data-value="20">8:00 PM</div>
                    <div class="item" data-value="21">9:00 PM</div>
                </div>
            </div>
            <div class="ui selection dropdown">
                <input type="hidden" name="employee[availability][<%=weekdays[day].toLowerCase()%>]">
                <i class="dropdown icon"></i>
                <div class="text">
                    <% let availDayLast = Number(employee.availability[weekdays[day].toLowerCase()][1]); %>
                    <% if(availDayLast <= 12 && availDayLast >1) { %>
                        <%= availDayLast + ":00 AM" %>
                    <% } else if(availDayLast > 12) { %>
                        <%= (availDayLast-12) + ":00 PM" %>
                    <% } %>
                </div>
                <div class="menu">
                    <div class="item" data-value="9">9:00 AM</div>
                    <div class="item" data-value="10">10:00 AM</div>
                    <div class="item" data-value="11">11:00 AM</div>
                    <div class="item" data-value="12">12:00 PM</div>
                    <div class="item" data-value="13">1:00 PM</div>
                    <div class="item" data-value="14">2:00 PM</div>
                    <div class="item" data-value="15">3:00 PM</div>
                    <div class="item" data-value="16">4:00 PM</div>
                    <div class="item" data-value="17">5:00 PM</div>
                    <div class="item" data-value="18">6:00 PM</div>
                    <div class="item" data-value="19">7:00 PM</div>
                    <div class="item" data-value="20">8:00 PM</div>
                    <div class="item" data-value="21">9:00 PM</div>
                </div>
            </div>
            </div>
        </div>
        <% } %>
        <h3 class="ui dividing header">How Many Hours They Can Work</h3>
        <div class="fields">
            <div class="field">
                <label>Minimum Hours</label>
                <input type="text" name="employee[hours][min]" value="<%= employee.hours.min %>">
            </div>
            <div class="field">
                <label>Maximum Hours</label>
                <input type="text" name="employee[hours][max]" value="<%= employee.hours.max %>">
            </div>
        </div>
        <input class="ui violet basic button" type="submit">
    </form>
</div>

<script>$('.ui.dropdown').dropdown();
</script>
